In [2]:
import numpy as np
import pandas as pd 
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
from sklearn.datasets import load_boston
import warnings 
warnings.filterwarnings('ignore')

In [5]:
boston=load_boston()
X=pd.DataFrame(boston.data, columns=boston.feature_names) # independent variables
y=pd.Series(boston.target)  # dependent variables

In [6]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [7]:
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Length: 506, dtype: float64

In [11]:
boston.DESCR
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [14]:
gradientregressor=GradientBoostingRegressor(max_depth=2,n_estimators=2,learning_rate=1)
model=gradientregressor.fit(X_train,y_train)
model

GradientBoostingRegressor(learning_rate=1, max_depth=2, n_estimators=2)

In [15]:
y_pred_test=model.predict(X_test)
y_pred_test

array([30.62972184, 30.62972184, 13.2454113 , 26.29807134, 19.17666583,
       19.17666583, 26.29807134, 19.17666583, 13.2454113 , 26.29807134,
       30.62972184, 30.62972184, 19.17666583, 19.17666583, 19.17666583,
       31.23825784, 17.5770618 , 47.4832778 , 26.29807134, 13.2454113 ,
       19.17666583, 13.2454113 , 26.29807134, 26.29807134, 26.29807134,
       13.2454113 , 13.2454113 , 19.17666583, 47.4832778 , 13.2454113 ,
       26.29807134, 13.2454113 , 47.4832778 , 13.2454113 , 26.29807134,
       19.17666583, 13.2454113 , 30.62972184, 25.30700331, 19.17666583,
       26.29807134, 26.29807134, 26.29807134, 13.2454113 , 13.2454113 ,
       -8.00621601, 47.4832778 , 13.2454113 , 19.17666583, 19.17666583,
       23.50831633, 19.17666583, 26.29807134, 19.17666583, 13.2454113 ,
       26.29807134, 13.2454113 , 26.29807134, 19.17666583, 47.4832778 ,
       19.17666583, 26.29807134, 13.2454113 , 13.2454113 , 13.2454113 ,
       30.62972184, 47.4832778 , 26.29807134, 19.17666583, 19.17666583,
       26.29807134, 13.2454113 , 19.17666583, 23.50831633, 19.17666583,
       19.17666583, 30.62972184, 26.29807134, 26.29807134, 30.62972184,
       19.17666583, 19.17666583, 30.62972184, 13.2454113 , 26.29807134,
       26.29807134, 13.2454113 , 26.29807134, 19.17666583, 13.2454113 ,
       30.62972184, 47.4832778 , 13.2454113 , 19.17666583, 19.17666583,
       19.17666583, 26.29807134, 26.29807134, 47.4832778 , 19.17666583,
       19.17666583, 13.2454113 ])

In [24]:
y_pred_train=model.predict(X_train)
y_pred_train

array([26.29807134, 26.29807134, 13.2454113 , 19.17666583, 13.2454113 ,
       26.29807134, 19.17666583, 30.62972184, 47.4832778 , 26.29807134,
       13.2454113 , 30.62972184, 30.62972184, 30.62972184, 19.17666583,
       19.17666583, 30.62972184, 47.4832778 , 19.17666583, 17.5770618 ,
       30.62972184, 19.17666583, 26.29807134, 19.17666583, 26.29807134,
       26.29807134, 19.17666583, 30.62972184, 19.17666583, 19.17666583,
       26.29807134, 13.2454113 , 26.29807134, 30.62972184, 25.30700331,
       13.2454113 , 47.4832778 , 17.5770618 , 26.29807134, 13.2454113 ,
       13.2454113 , 26.29807134, 30.62972184, 26.29807134, 26.29807134,
       13.2454113 , 26.29807134, 13.2454113 , 30.62972184, 13.2454113 ,
       26.29807134, 19.17666583, 17.5770618 , 26.29807134, 26.29807134,
       26.29807134, 19.17666583, 26.29807134, 47.4832778 , 21.9       ,
       30.62972184, 19.17666583, 19.17666583, 19.17666583, 26.29807134,
       13.2454113 , 13.2454113 , 26.29807134, 19.17666583, 13.2454113 ,
       13.2454113 , 30.62972184, 19.17666583, 26.29807134, 30.62972184,
       19.17666583, 47.4832778 , 26.29807134, 13.2454113 , 26.29807134,
       17.5770618 , 30.62972184, 13.2454113 , 19.17666583, 19.17666583,
       47.4832778 , 26.29807134, 19.17666583, 19.17666583, 13.2454113 ,
       19.17666583, 23.50831633, 26.29807134, 19.17666583, 30.62972184,
       26.29807134, 47.4832778 , 38.35966335, 13.2454113 , 13.2454113 ,
       26.29807134, 13.2454113 , 19.17666583, 30.62972184, 30.62972184,
       26.29807134, 19.17666583, 13.2454113 , 26.29807134, 19.17666583,
       30.62972184, 19.17666583, 19.17666583, 26.29807134, 13.2454113 ,
       13.2454113 , 23.50831633, 26.29807134, 19.17666583, 13.2454113 ,
       13.2454113 , 19.17666583, 26.29807134, 30.62972184, 26.29807134,
       13.2454113 , 13.2454113 , 30.62972184, 17.5770618 , 13.2454113 ,
       30.62972184, 19.17666583, 13.2454113 , 26.29807134, 19.17666583,
       47.4832778 , 47.4832778 , 19.17666583, 19.17666583, 13.2454113 ,
       19.17666583, 47.4832778 , 19.17666583, 30.62972184, 19.17666583,
       19.17666583, 26.29807134, 13.2454113 , 13.2454113 , 13.2454113 ,
       30.62972184, 19.17666583, 13.2454113 , 30.62972184, 13.2454113 ,
       19.17666583, 26.29807134, 30.62972184, 19.17666583, 26.29807134,
       13.2454113 , 19.17666583, 26.29807134, 17.5770618 , 47.4832778 ,
       30.62972184, 13.2454113 , 26.29807134, 30.62972184, 13.2454113 ,
       30.62972184, 19.17666583, 26.29807134, 26.29807134, 26.29807134,
       26.29807134, 19.17666583, 13.2454113 , 13.2454113 , 13.2454113 ,
       19.17666583, 19.17666583, 26.29807134, 13.2454113 , 26.29807134,
       13.2454113 , 13.2454113 , 30.62972184, 13.2454113 , 17.5770618 ,
       23.50831633, 19.17666583, 26.29807134, 25.30700331, 30.62972184,
       19.17666583, 30.62972184, 13.2454113 , 13.2454113 , 13.2454113 ,
       19.17666583, 13.2454113 , 26.29807134, 30.62972184, 13.2454113 ,
       19.17666583, 30.62972184, 13.2454113 , 19.17666583, 30.62972184,
       26.29807134, 19.17666583, 17.5770618 , 26.29807134, 19.17666583,
       26.29807134, 19.17666583, 30.62972184, 19.17666583, 13.2454113 ,
       19.17666583, 19.17666583, 13.2454113 , 30.62972184, 19.17666583,
       19.17666583, 13.2454113 , 19.17666583, 13.2454113 , 30.62972184,
       30.62972184, 26.29807134, 13.2454113 , 13.2454113 , 25.30700331,
       13.2454113 , 26.29807134, 47.4832778 , 19.17666583, 26.29807134,
       19.17666583, 13.2454113 , 19.17666583, 13.2454113 , 19.17666583,
       19.17666583, 19.17666583, 26.29807134, 30.62972184, 26.29807134,
       19.17666583, 30.62972184, 13.2454113 , 26.29807134, 19.17666583,
       30.62972184, 19.17666583, 30.62972184, 26.29807134, 38.35966335,
       19.17666583, 19.17666583, 30.62972184, 13.2454113 , 13.2454113 ,
       47.4832778 , 19.17666583, 19.17666583, 19.17666583, 13.2454113 ,
       19.17666583, 19.17666583, 13.2454113 , 23.50831633, 30.62972184,
       26.29807134, 13.2454113 , 19.17666583, 19.17666583, 17.5770618 ,
       13.2454113 , 13.2454113 , 26.29807134, 26.29807134, 30.62972184,
       19.17666583, 23.50831633, 19.17666583, 13.2454113 , 13.2454113 ,
       30.62972184, 26.29807134, 47.4832778 , 47.4832778 , 19.17666583,
       30.62972184, 26.29807134, 30.62972184, 26.29807134, 26.29807134,
       19.17666583, 13.2454113 , 26.29807134, 30.62972184, 26.29807134,
       26.29807134, 26.29807134, 13.2454113 , 26.29807134, 26.29807134,
       13.2454113 , 13.2454113 , 23.50831633, 26.29807134, 13.2454113 ,
       47.4832778 , 26.29807134, 13.2454113 , 19.17666583, 13.2454113 ,
       13.2454113 , 30.62972184, 13.2454113 , 47.4832778 , 19.17666583,
       19.17666583, 19.17666583, 19.17666583, 47.4832778 , 13.2454113 ,
       47.4832778 , 19.17666583, 13.2454113 , 30.62972184, 30.62972184,
       26.29807134, 19.17666583, 38.35966335, 19.17666583, 19.17666583,
       26.29807134, 19.17666583, 19.17666583, 26.29807134, 47.4832778 ,
       30.62972184, 19.17666583, 13.2454113 , 13.2454113 , 13.2454113 ,
       19.17666583, 13.2454113 , 19.17666583, 17.5770618 , 19.17666583,
       13.2454113 , 19.17666583, 30.62972184, 13.2454113 , 13.2454113 ,
       13.2454113 , 26.29807134, 26.29807134, 13.2454113 , 19.17666583,
       19.17666583, 13.2454113 , 19.17666583, 13.2454113 , 19.17666583,
       26.29807134, 19.17666583, 19.17666583, 26.29807134, 19.17666583,
       19.17666583, 13.2454113 , 13.2454113 , 13.2454113 , 30.62972184,
       13.2454113 , 13.2454113 , 13.2454113 , 19.17666583, 26.29807134,
       30.62972184, 30.62972184, 30.62972184, 13.2454113 , 30.62972184,
       19.17666583, 17.5770618 , 13.2454113 , 13.2454113 , 13.2454113 ,
       26.29807134, 19.17666583, 47.4832778 , 19.17666583, 26.29807134,
       26.29807134, 13.2454113 , 19.17666583, 26.29807134])

In [25]:
r2_score(y_pred_test,y_test)

0.7447049194861197

In [26]:
r2_score(y_pred_train,y_train)

0.7361331708645036

In [34]:
from sklearn.model_selection import GridSearchCV
Pr={'learning_rate' :[0.1,0.10,0.05],'n_estimators':[100,150,200,250]}
tuning=GridSearchCV(estimator=GradientBoostingRegressor(),param_grid=Pr,scoring='r2')
tuning.fit(X_train,y_train)
tuning.best_params_,tuning.best_score_

({'learning_rate': 0.1, 'n_estimators': 150}, 0.8729717026742863)